@model IEnumerable<TP8_MVC.Models.Presupuesto>

@{
    ViewData["Title"] = "Presupuestos";
}

<h1>Lista de Presupuestos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Presupuesto</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Destinatario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.IdPresupuesto</td>
            <td>@item.NombreDestinatario</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdPresupuesto" class="btn btn-sm btn-info">Ver Detalle</a>
                <a asp-action="Edit" asp-route-id="@item.IdPresupuesto" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.IdPresupuesto" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
